body {
    /* background:no-repeat center center/100% url(../SVG/SVG-images/water_fall_adobe_express.svg) ; */
    height: 98vh;
    padding: 0;
    margin: 0;
}
header {
    padding: inherit;
    margin: inherit;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: inherit;
    margin: inherit;
}
a{
    text-decoration: none;
    background-color: lightgray;
    flex: 1;
    padding: 8px;
    /* border: 1px solid black; */
    margin: none;
    text-align: center;
    color: black;
    transition: all .2s;
}
a:hover {
    background: darkgrey;
    
}
a:active {
    background-color: rgb(150, 150, 150);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
article {
    overflow: auto;
    max-width: 33vw;
    border: 2px solid red;
    max-height: 300px;
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}